.main-panel{
    color: #999;
    border-radius: 4px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgb(0, 0, 0, .3);
    min-width: 350px;
    width: 40%;
    font-size: 15px;
    margin: auto;
    h1{
        font-size: 24px;
        padding: 1rem;
        margin: 0;
        border-bottom: solid 1px #d3e0e3;
    }
}